In [11]:
import pandas as pd
C2020 = pd.read_csv('COVID2020.csv')
C2021 = pd.read_csv('COVID2021.csv')

# COVID data

## 2020

In [22]:
C2020

              date      county       state     fips  cases  deaths
0        1/21/2020   Snohomish  Washington  53061.0      1     0.0
1        1/22/2020   Snohomish  Washington  53061.0      1     0.0
2        1/23/2020   Snohomish  Washington  53061.0      1     0.0
3        1/24/2020        Cook    Illinois  17031.0      1     0.0
4        1/24/2020   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
884732  12/31/2020  Sweetwater     Wyoming  56037.0   2966    16.0
884733  12/31/2020       Teton     Wyoming  56039.0   2138     4.0
884734  12/31/2020       Uinta     Wyoming  56041.0   1558     7.0
884735  12/31/2020    Washakie     Wyoming  56043.0    780    19.0
884736  12/31/2020      Weston     Wyoming  56045.0    476     2.0

[884737 rows x 6 columns]

In [23]:
C2020['date']=pd.to_datetime(C2020['date'],format="%m/%d/%Y")

In [24]:
C2020['fips'] = C2020['fips'].fillna(0)

In [25]:
C2020 = C2020[(C2020['fips'] <= 56045) & (C2020['fips']>0)]
C2020.sort_values(by=["fips"])
C2020

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1     0.0
1      2020-01-22   Snohomish  Washington  53061.0      1     0.0
2      2020-01-23   Snohomish  Washington  53061.0      1     0.0
3      2020-01-24        Cook    Illinois  17031.0      1     0.0
4      2020-01-24   Snohomish  Washington  53061.0      1     0.0
...           ...         ...         ...      ...    ...     ...
884732 2020-12-31  Sweetwater     Wyoming  56037.0   2966    16.0
884733 2020-12-31       Teton     Wyoming  56039.0   2138     4.0
884734 2020-12-31       Uinta     Wyoming  56041.0   1558     7.0
884735 2020-12-31    Washakie     Wyoming  56043.0    780    19.0
884736 2020-12-31      Weston     Wyoming  56045.0    476     2.0

[856558 rows x 6 columns]

In [26]:
C2020['fips']=C2020['fips'].astype(str)

C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
C2020['fips']=C2020['fips'].str.split('.').str[0]
C2020['fips']=C2020['fips'].str.pad(5,'left','0')
C2020

C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             date      county       state   fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061      1     0.0
1      2020-01-22   Snohomish  Washington  53061      1     0.0
2      2020-01-23   Snohomish  Washington  53061      1     0.0
3      2020-01-24        Cook    Illinois  17031      1     0.0
4      2020-01-24   Snohomish  Washington  53061      1     0.0
...           ...         ...         ...    ...    ...     ...
884732 2020-12-31  Sweetwater     Wyoming  56037   2966    16.0
884733 2020-12-31       Teton     Wyoming  56039   2138     4.0
884734 2020-12-31       Uinta     Wyoming  56041   1558     7.0
884735 2020-12-31    Washakie     Wyoming  56043    780    19.0
884736 2020-12-31      Weston     Wyoming  56045    476     2.0

[856558 rows x 6 columns]

In [28]:
C2020.sort_values(by=["fips"])

             date   county    state   fips  cases  deaths
67364  2020-04-18  Autauga  Alabama  01001     25     2.0
505309 2020-09-06  Autauga  Alabama  01001   1498    24.0
508541 2020-09-07  Autauga  Alabama  01001   1504    24.0
187650 2020-05-29  Autauga  Alabama  01001    212     3.0
56457  2020-04-14  Autauga  Alabama  01001     23     1.0
...           ...      ...      ...    ...    ...     ...
237026 2020-06-13   Weston  Wyoming  56045      1     0.0
518241 2020-09-09   Weston  Wyoming  56045     21     0.0
515006 2020-09-08   Weston  Wyoming  56045     19     0.0
871756 2020-12-27   Weston  Wyoming  56045    466     2.0
884736 2020-12-31   Weston  Wyoming  56045    476     2.0

[856558 rows x 6 columns]

In [29]:
COVID2020=C2020.groupby(by=['fips',(C2020.date.dt.month)])[["cases"]].sum()
COVID2020

            cases
fips  date
01001 3        43
      4       731
      5      3660
      6     11110
      7     24241
...           ...
56045 8       288
      9       747
      10     2730
      11     9688
      12    13656

[29733 rows x 1 columns]

In [35]:
COVID2020.to_csv("cleancovid2020.csv")

## 2021

In [12]:
C2021

               date      county    state     fips  cases  deaths
0        2021-01-01     Autauga  Alabama   1001.0   4239    50.0
1        2021-01-01     Baldwin  Alabama   1003.0  13823   169.0
2        2021-01-01     Barbour  Alabama   1005.0   1517    33.0
3        2021-01-01        Bibb  Alabama   1007.0   1854    46.0
4        2021-01-01      Blount  Alabama   1009.0   4693    63.0
...             ...         ...      ...      ...    ...     ...
1185368  2021-12-31  Sweetwater  Wyoming  56037.0   8320   107.0
1185369  2021-12-31       Teton  Wyoming  56039.0   5950    14.0
1185370  2021-12-31       Uinta  Wyoming  56041.0   4154    31.0
1185371  2021-12-31    Washakie  Wyoming  56043.0   1879    37.0
1185372  2021-12-31      Weston  Wyoming  56045.0   1254    14.0

[1185373 rows x 6 columns]

In [13]:
C2021['date']=pd.to_datetime(C2021['date'],format="%Y/%m/%d")

In [14]:
C2021['fips'] = C2021['fips'].fillna(0)

In [15]:
C2021 = C2021[(C2021['fips'] <= 56045) & (C2021['fips']>0)]
C2021.sort_values(by=["fips"])
C2021

              date      county    state     fips  cases  deaths
0       2021-01-01     Autauga  Alabama   1001.0   4239    50.0
1       2021-01-01     Baldwin  Alabama   1003.0  13823   169.0
2       2021-01-01     Barbour  Alabama   1005.0   1517    33.0
3       2021-01-01        Bibb  Alabama   1007.0   1854    46.0
4       2021-01-01      Blount  Alabama   1009.0   4693    63.0
...            ...         ...      ...      ...    ...     ...
1185368 2021-12-31  Sweetwater  Wyoming  56037.0   8320   107.0
1185369 2021-12-31       Teton  Wyoming  56039.0   5950    14.0
1185370 2021-12-31       Uinta  Wyoming  56041.0   4154    31.0
1185371 2021-12-31    Washakie  Wyoming  56043.0   1879    37.0
1185372 2021-12-31      Weston  Wyoming  56045.0   1254    14.0

[1144275 rows x 6 columns]

In [16]:
C2021['fips']=C2021['fips'].astype(str)

C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
C2021['fips']=C2021['fips'].str.split('.').str[0]
C2021['fips']=C2021['fips'].str.pad(5,'left','0')
C2021

C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              date      county    state   fips  cases  deaths
0       2021-01-01     Autauga  Alabama  01001   4239    50.0
1       2021-01-01     Baldwin  Alabama  01003  13823   169.0
2       2021-01-01     Barbour  Alabama  01005   1517    33.0
3       2021-01-01        Bibb  Alabama  01007   1854    46.0
4       2021-01-01      Blount  Alabama  01009   4693    63.0
...            ...         ...      ...    ...    ...     ...
1185368 2021-12-31  Sweetwater  Wyoming  56037   8320   107.0
1185369 2021-12-31       Teton  Wyoming  56039   5950    14.0
1185370 2021-12-31       Uinta  Wyoming  56041   4154    31.0
1185371 2021-12-31    Washakie  Wyoming  56043   1879    37.0
1185372 2021-12-31      Weston  Wyoming  56045   1254    14.0

[1144275 rows x 6 columns]

In [18]:
C2021.sort_values(by=["fips"])

              date   county    state   fips  cases  deaths
0       2021-01-01  Autauga  Alabama  01001   4239    50.0
327861  2021-04-12  Autauga  Alabama  01001   6727   103.0
866896  2021-09-25  Autauga  Alabama  01001   9652   137.0
1117117 2021-12-11  Autauga  Alabama  01001  10596   158.0
68154   2021-01-22  Autauga  Alabama  01001   5327    61.0
...            ...      ...      ...    ...    ...     ...
227192  2021-03-11   Weston  Wyoming  56045    631     5.0
957867  2021-10-22   Weston  Wyoming  56045   1027     9.0
483709  2021-05-29   Weston  Wyoming  56045    654     5.0
1139872 2021-12-17   Weston  Wyoming  56045   1236    14.0
1185372 2021-12-31   Weston  Wyoming  56045   1254    14.0

[1144275 rows x 6 columns]

In [19]:
COVID2021=C2021.groupby(by=['fips',(C2021.date.dt.month)])[["cases"]].sum()
COVID2021

             cases
fips  date
01001 1     156700
      2     168069
      3     200009
      4     202648
      5     217425
...            ...
56045 8      22442
      9      25372
      10     30816
      11     35174
      12     38058

[37620 rows x 1 columns]

In [20]:
COVID2021.to_csv("cleancovid2021.csv")

In [30]:
COVID=pd.concat(
    [COVID2020,COVID2021],
    axis=0,
    join="outer",
    ignore_index=False,
    keys=['2020','2021'],
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [31]:
COVID.to_csv("cleancovid.csv")

# Income Data

In [2]:
income2017=pd.read_csv('ACSDT5Y2017.B19301-Data.csv')
income2018=pd.read_csv('ACSDT5Y2018.B19301-Data.csv')
income2019=pd.read_csv('ACSDT5Y2019.B19301-Data.csv')
income2020=pd.read_csv('ACSDT5Y2020.B19301-Data.csv')
income2021=pd.read_csv('ACSDT5Y2021.B19301-Data.csv')

In [3]:
income2017['fips']=income2017['GEO_ID'].str.split('US').str[-1]
income2018['fips']=income2018['GEO_ID'].str.split('US').str[-1]
income2019['fips']=income2019['GEO_ID'].str.split('US').str[-1]
income2020['fips']=income2020['GEO_ID'].str.split('US').str[-1]
income2021['fips']=income2021['GEO_ID'].str.split('US').str[-1]

In [4]:
#rename percapita column, get rid of top row and only keep nesseary columns
income2017.rename(columns={income2017.columns[2]:"PCIncome"},inplace=True)
income2017=income2017[["fips","PCIncome"]]
income2017 = income2017.iloc[1: , :]

income2018.rename(columns={income2018.columns[2]:"PCIncome"},inplace=True)
income2018=income2018[["fips","PCIncome"]]
income2018 = income2018.iloc[1: , :]

income2019.rename(columns={income2019.columns[2]:"PCIncome"},inplace=True)
income2019=income2019[["fips","PCIncome"]]
income2019 = income2019.iloc[1: , :]

income2020.rename(columns={income2020.columns[2]:"PCIncome"},inplace=True)
income2020=income2020[["fips","PCIncome"]]
income2020 = income2020.iloc[1: , :]

income2021.rename(columns={income2021.columns[2]:"PCIncome"},inplace=True)
income2021=income2021[["fips","PCIncome"]]
income2021 = income2021.iloc[1: , :]

In [5]:
income2017['fips']=income2017['fips'].str.pad(5,'left','0')
income2018['fips']=income2018['fips'].str.pad(5,'left','0')
income2019['fips']=income2019['fips'].str.pad(5,'left','0')
income2020['fips']=income2020['fips'].str.pad(5,'left','0')
income2021['fips']=income2021['fips'].str.pad(5,'left','0')

In [17]:
income2017["year"]="2017"
income2018["year"]="2018"
income2019["year"]="2019"
income2020["year"]="2020"
income2021["year"]="2021"

In [16]:
income2017

       fips PCIncome  year
1     01001    27824  2017
2     01003    29364  2017
3     01005    17561  2017
4     01007    20911  2017
5     01009    22021  2017
...     ...      ...   ...
3217  72147    11136  2017
3218  72149    10449  2017
3219  72151     8672  2017
3220  72153     8124  2017
3221  00000    31177  2017

[3221 rows x 3 columns]

In [18]:
income2017.to_csv("income2017.csv")
income2018.to_csv("income2018.csv")
income2019.to_csv("income2019.csv")
income2020.to_csv("income2020.csv")
income2021.to_csv("income2021.csv")

In [22]:
income=pd.concat(
    [income2017,income2018,income2019,income2020,income2021],
    axis=0,
    join="outer",
    ignore_index=False,
    keys=["2017",'2018','2019','2020','2021'],
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [23]:
income

            fips PCIncome  year
2017 1     01001    27824  2017
     2     01003    29364  2017
     3     01005    17561  2017
     4     01007    20911  2017
     5     01009    22021  2017
...          ...      ...   ...
2021 3218  72147     8834  2021
     3219  72149    12179  2021
     3220  72151    10507  2021
     3221  72153    10231  2021
     3222  00000    37638  2021

[16107 rows x 3 columns]

In [24]:
income.to_csv("incomeall.csv")

# FIPS

In [60]:
states=pd.read_csv('FIPbystate.csv')
states

       fips               name state_Ab    state
0      1001     Autauga County       AL  Alabama
1      1003     Baldwin County       AL  Alabama
2      1005     Barbour County       AL  Alabama
3      1007        Bibb County       AL  Alabama
4      1009      Blount County       AL  Alabama
...     ...                ...      ...      ...
3138  56037  Sweetwater County       WY  Wyoming
3139  56039       Teton County       WY  Wyoming
3140  56041       Uinta County       WY  Wyoming
3141  56043    Washakie County       WY  Wyoming
3142  56045      Weston County       WY  Wyoming

[3143 rows x 4 columns]

In [61]:
states['C_S']=states['name'].astype(str)+','+states['state'].astype(str)
states

       fips               name state_Ab    state                        C_S
0      1001     Autauga County       AL  Alabama     Autauga County,Alabama
1      1003     Baldwin County       AL  Alabama     Baldwin County,Alabama
2      1005     Barbour County       AL  Alabama     Barbour County,Alabama
3      1007        Bibb County       AL  Alabama        Bibb County,Alabama
4      1009      Blount County       AL  Alabama      Blount County,Alabama
...     ...                ...      ...      ...                        ...
3138  56037  Sweetwater County       WY  Wyoming  Sweetwater County,Wyoming
3139  56039       Teton County       WY  Wyoming       Teton County,Wyoming
3140  56041       Uinta County       WY  Wyoming       Uinta County,Wyoming
3141  56043    Washakie County       WY  Wyoming    Washakie County,Wyoming
3142  56045      Weston County       WY  Wyoming      Weston County,Wyoming

[3143 rows x 5 columns]

In [62]:
states.dtypes

fips         int64
name        object
state_Ab    object
state       object
C_S         object
dtype: object

In [63]:
states['fips']=states['fips'].astype(str)
states['fips']=states['fips'].str.split('.').str[0]
states['fips']=states['fips'].str.pad(5,'left','0')
states

       fips               name state_Ab    state                        C_S
0     01001     Autauga County       AL  Alabama     Autauga County,Alabama
1     01003     Baldwin County       AL  Alabama     Baldwin County,Alabama
2     01005     Barbour County       AL  Alabama     Barbour County,Alabama
3     01007        Bibb County       AL  Alabama        Bibb County,Alabama
4     01009      Blount County       AL  Alabama      Blount County,Alabama
...     ...                ...      ...      ...                        ...
3138  56037  Sweetwater County       WY  Wyoming  Sweetwater County,Wyoming
3139  56039       Teton County       WY  Wyoming       Teton County,Wyoming
3140  56041       Uinta County       WY  Wyoming       Uinta County,Wyoming
3141  56043    Washakie County       WY  Wyoming    Washakie County,Wyoming
3142  56045      Weston County       WY  Wyoming      Weston County,Wyoming

[3143 rows x 5 columns]

In [65]:
states.to_csv("FIPS.csv")

# ZILLOW

In [58]:
Zillow=pd.read_csv('County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
Zillow

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/2017,...,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,564461.0,...,824749.0,833178.0,847848.0,865622.0,880941.0,882627.0,882121.0,868916.0,858233,846652.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,233341.0,...,299768.0,301527.0,304104.0,306266.0,309736.0,312549.0,314549.0,315039.0,315606,316080.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,183745.0,...,262518.0,266166.0,270894.0,276007.0,281014.0,284879.0,287437.0,288997.0,289365,290111.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,237000.0,...,440380.0,449053.0,458305.0,469851.0,478735.0,485093.0,482677.0,476071.0,466128,461085.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,518024.0,...,841589.0,861639.0,884547.0,903702.0,916817.0,916285.0,905021.0,893987.0,887023,881973.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,828,3104,Alpine County,county,CA,CA,NaN,6,3,399852.0,...,524533.0,530320.0,534184.0,537930.0,541635.0,547797.0,556646.0,565229.0,572752,578522.0
2836,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,NaN,...,446444.0,454171.0,456906.0,458515.0,461342.0,470698.0,479761.0,489519.0,492497,495967.0
2837,1933,3114,Mineral County,county,CO,CO,NaN,8,79,NaN,...,386148.0,388165.0,387675.0,389691.0,393426.0,401315.0,407695.0,413442.0,415568,416526.0
2838,1648,3129,Daggett County,county,UT,UT,NaN,49,9,178859.0,...,309894.0,314341.0,314234.0,315105.0,316664.0,322286.0,328145.0,334937.0,337138,339844.0
2839,2518,3132,San Juan County,county,CO,CO,NaN,8,111,287526.0,...,444644.0,450548.0,452519.0,453843.0,457010.0,467548.0,482421.0,497889.0,505772,509755.0

In [59]:
Zillow=Zillow.iloc[:,:-10]
Zillow

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/2017,...,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,564461.0,...,724304.0,734737.0,748675.0,766484.0,786445.0,798469.0,807117.0,809652.0,814209.0,819573.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,233341.0,...,271379.0,274385.0,276166.0,279190.0,282732.0,286479.0,289068.0,291559.0,294460.0,297191.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,183745.0,...,225167.0,226995.0,229258.0,234176.0,239565.0,245372.0,249810.0,253619.0,256223.0,259306.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,237000.0,...,353650.0,360262.0,372458.0,383871.0,397135.0,407112.0,415319.0,422809.0,428902.0,434638.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,518024.0,...,692024.0,705885.0,726619.0,750501.0,774050.0,788507.0,798103.0,802781.0,810221.0,821411.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,828,3104,Alpine County,county,CA,CA,NaN,6,3,399852.0,...,NaN,460477.0,467177.0,474683.0,483848.0,492839.0,501395.0,506796.0,511683.0,518067.0
2836,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,NaN,...,394132.0,403021.0,410654.0,415816.0,418517.0,423512.0,427733.0,431631.0,432433.0,438666.0
2837,1933,3114,Mineral County,county,CO,CO,NaN,8,79,NaN,...,341615.0,347095.0,351817.0,358103.0,364747.0,370857.0,376500.0,380346.0,381542.0,384039.0
2838,1648,3129,Daggett County,county,UT,UT,NaN,49,9,178859.0,...,256113.0,263029.0,269755.0,276087.0,280029.0,284857.0,289254.0,293906.0,296812.0,304186.0
2839,2518,3132,San Juan County,county,CO,CO,NaN,8,111,287526.0,...,384827.0,390362.0,394614.0,401117.0,407270.0,415334.0,423507.0,429720.0,433309.0,438270.0

In [66]:
Zillow.to_csv("Zillowdata.csv")

# Rural vs Urban

In [8]:
ruralurban=pd.read_csv('ruralurbancodes2013.csv')
ruralurban.dtypes

FIPS               float64
State               object
County_Name         object
Population_2010     object
RUCC_2013          float64
Description         object
dtype: object

In [67]:
ruralurban['FIPS']=ruralurban['FIPS'].astype(str)
ruralurban['FIPS']=ruralurban['FIPS'].str.split('.').str[0]
ruralurban['FIPS']=ruralurban['FIPS'].str.pad(5,'left','0')
ruralurban

,FIPS,State,County_Name,Population_2010,RUCC_2013,Description
0,01001,AL,Autauga County,"54,571",2.0,"Metro - Counties in metro areas of 250,000 to ..."
1,01003,AL,Baldwin County,"182,265",3.0,Metro - Counties in metro areas of fewer than ...
2,01005,AL,Barbour County,"27,457",6.0,"Nonmetro - Urban population of 2,500 to 19,999..."
3,01007,AL,Bibb County,"22,915",1.0,Metro - Counties in metro areas of 1 million p...
4,01009,AL,Blount County,"57,322",1.0,Metro - Counties in metro areas of 1 million p...
...,...,...,...,...,...,...
3235,00nan,NaN,NaN,NaN,NaN,NaN
3236,00nan,NaN,NaN,NaN,NaN,NaN
3237,00nan,NaN,NaN,NaN,NaN,NaN
3238,00nan,NaN,NaN,NaN,NaN,NaN
3239,00nan,NaN,NaN,NaN,NaN,NaN

In [68]:
ruralurban.to_csv("ruralurban.csv")

# Race/Eth

In [49]:
race=pd.read_csv('CC-EST2020-ALLDATA6.csv',encoding = "ISO-8859-1")
race.head()

C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_MALE,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,...,47,39,16,24,6,4,16,9,23,23
1,50,1,1,Alabama,Autauga County,2,0,54582,26576,28006,...,47,39,16,24,6,4,16,9,23,23
2,50,1,1,Alabama,Autauga County,3,0,54761,26667,28094,...,46,31,11,18,4,4,14,9,22,24
3,50,1,1,Alabama,Autauga County,4,0,55229,26980,28249,...,38,33,10,21,4,4,13,5,30,23
4,50,1,1,Alabama,Autauga County,5,0,54970,26830,28140,...,40,31,10,18,3,4,12,3,39,22

In [6]:
race.dtypes

SUMLEV           int64
STATE            int64
COUNTY           int64
STNAME          object
CTYNAME         object
YEAR             int64
AGEGRP           int64
TOT_POP         object
TOT_MALE        object
TOT_FEMALE      object
WA_MALE         object
WA_FEMALE       object
BA_MALE         object
BA_FEMALE       object
IA_MALE         object
IA_FEMALE       object
AA_MALE         object
AA_FEMALE       object
NA_MALE         object
NA_FEMALE       object
TOM_MALE        object
TOM_FEMALE      object
NH_MALE         object
NH_FEMALE       object
NHWA_MALE       object
NHWA_FEMALE     object
NHBA_MALE       object
NHBA_FEMALE     object
NHIA_MALE       object
NHIA_FEMALE     object
NHAA_MALE       object
NHAA_FEMALE     object
NHNA_MALE       object
NHNA_FEMALE     object
NHTOM_MALE      object
NHTOM_FEMALE    object
H_MALE          object
H_FEMALE        object
HWA_MALE        object
HWA_FEMALE      object
HBA_MALE        object
HBA_FEMALE      object
HIA_MALE        object
HIA_FEMALE      object
HAA_MALE        object
HAA_FEMALE      object
HNA_MALE        object
HNA_FEMALE      object
HTOM_MALE       object
HTOM_FEMALE     object
dtype: object

In [50]:
race["YEAR"]=race['YEAR'].replace(10,2017)
race["YEAR"]=race['YEAR'].replace(11,2018)
race["YEAR"]=race['YEAR'].replace(12,2019)

In [51]:
race=race[race.YEAR >=2017]
race=race[race.YEAR <=2019]
race.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_MALE,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE
9,50,1,1,Alabama,Autauga County,2017,0,55448,27041,28407,...,84,56,14,17,6,6,14,8,43,33
10,50,1,1,Alabama,Autauga County,2018,0,55533,27049,28484,...,62,55,14,8,8,6,14,5,43,35
11,50,1,1,Alabama,Autauga County,2019,0,55769,27078,28691,...,68,75,16,9,9,8,14,5,42,33
23,50,1,3,Alabama,Baldwin County,2017,0,212737,103324,109413,...,174,195,135,80,15,11,26,10,197,172
24,50,1,3,Alabama,Baldwin County,2018,0,218071,105782,112289,...,179,199,145,81,19,14,25,9,213,185

In [52]:
race['C_S']=race['CTYNAME'].astype(str)+','+race['STNAME'].astype(str)
race.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,C_S
9,50,1,1,Alabama,Autauga County,2017,0,55448,27041,28407,...,56,14,17,6,6,14,8,43,33,"Autauga County,Alabama"
10,50,1,1,Alabama,Autauga County,2018,0,55533,27049,28484,...,55,14,8,8,6,14,5,43,35,"Autauga County,Alabama"
11,50,1,1,Alabama,Autauga County,2019,0,55769,27078,28691,...,75,16,9,9,8,14,5,42,33,"Autauga County,Alabama"
23,50,1,3,Alabama,Baldwin County,2017,0,212737,103324,109413,...,195,135,80,15,11,26,10,197,172,"Baldwin County,Alabama"
24,50,1,3,Alabama,Baldwin County,2018,0,218071,105782,112289,...,199,145,81,19,14,25,9,213,185,"Baldwin County,Alabama"

In [53]:
race['WA']=race['WA_MALE'].astype(int)+race['WA_FEMALE'].astype(int)
race['BA']=race['BA_MALE'].astype(int)+race['BA_FEMALE'].astype(int)
race['IA']=race['IA_MALE'].astype(int)+race['IA_FEMALE'].astype(int)
race['AA']=race['AA_MALE'].astype(int)+race['AA_FEMALE'].astype(int)
race['NA']=race['NA_MALE'].astype(int)+race['NA_FEMALE'].astype(int)
race['TOM']=race['TOM_MALE'].astype(int)+race['TOM_FEMALE'].astype(int)
race['NH']=race['NH_MALE'].astype(int)+race['NH_FEMALE'].astype(int)
race['H']=race['H_MALE'].astype(int)+race['H_FEMALE'].astype(int)

In [54]:
raceeth1=race[['YEAR','C_S','WA','BA','IA','AA','NA','TOM','NH','H']]
raceeth1

,YEAR,C_S,WA,BA,IA,AA,NA,TOM,NH,H
9,2017,"Autauga County,Alabama",42606,10816,254,693,59,1020,53908,1540
10,2018,"Autauga County,Alabama",42641,10883,263,671,61,1014,53929,1604
11,2019,"Autauga County,Alabama",42490,11252,266,668,58,1035,54116,1653
23,2017,"Baldwin County,Alabama",185705,19229,1619,2272,141,3771,203172,9565
24,2018,"Baldwin County,Alabama",190538,19436,1636,2348,142,3971,208082,9989
...,...,...,...,...,...,...,...,...,...,...
43984,2018,"Washakie County,Wyoming",7461,39,148,66,8,164,6768,1118
43985,2019,"Washakie County,Wyoming",7395,44,149,66,6,164,6703,1121
43997,2017,"Weston County,Wyoming",6560,44,117,94,2,145,6673,289
43998,2018,"Weston County,Wyoming",6456,47,127,100,2,163,6623,272
43999,2019,"Weston County,Wyoming",6429,48,132,98,2,171,6598,282

In [55]:
race=pd.read_csv('cc-est2021-all.csv',encoding = "ISO-8859-1")
race.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,58805,28703,30102,...,854,738,110,96,38,28,20,23,17,10
1,50,1,1,Alabama,Autauga County,1,1,3486,1812,1674,...,83,54,14,9,3,0,9,1,3,0
2,50,1,1,Alabama,Autauga County,1,2,3657,1870,1787,...,82,68,5,8,7,3,0,1,1,2
3,50,1,1,Alabama,Autauga County,1,3,4178,2144,2034,...,83,82,10,10,1,3,2,2,2,1
4,50,1,1,Alabama,Autauga County,1,4,3862,1948,1914,...,70,68,8,9,5,2,2,4,3,2

In [56]:
race["YEAR"]=race['YEAR'].replace(2,2020)
race["YEAR"]=race['YEAR'].replace(3,2021)

In [57]:
race=race[race.YEAR >=2017]
race=race[race.AGEGRP==0]
race.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
19,50,1,1,Alabama,Autauga County,2020,0,58877,28734,30143,...,858,739,114,105,40,34,23,23,19,14
38,50,1,1,Alabama,Autauga County,2021,0,59095,28733,30362,...,888,807,120,99,47,33,23,18,19,10
76,50,1,3,Alabama,Baldwin County,2020,0,233140,113612,119528,...,5270,4865,302,323,287,231,77,77,57,48
95,50,1,3,Alabama,Baldwin County,2021,0,239294,116422,122872,...,5519,5138,324,355,297,239,83,79,55,43
133,50,1,5,Alabama,Barbour County,2020,0,25180,13373,11807,...,537,439,69,59,68,27,4,1,15,11

In [58]:
race['C_S']=race['CTYNAME'].astype(str)+','+race['STNAME'].astype(str)
race['WA']=race['WA_MALE'].astype(int)+race['WA_FEMALE'].astype(int)
race['BA']=race['BA_MALE'].astype(int)+race['BA_FEMALE'].astype(int)
race['IA']=race['IA_MALE'].astype(int)+race['IA_FEMALE'].astype(int)
race['AA']=race['AA_MALE'].astype(int)+race['AA_FEMALE'].astype(int)
race['NA']=race['NA_MALE'].astype(int)+race['NA_FEMALE'].astype(int)
race['TOM']=race['TOM_MALE'].astype(int)+race['TOM_FEMALE'].astype(int)
race['NH']=race['NH_MALE'].astype(int)+race['NH_FEMALE'].astype(int)
race['H']=race['H_MALE'].astype(int)+race['H_FEMALE'].astype(int)

In [59]:
raceeth2=race[['YEAR','C_S','WA','BA','IA','AA','NA','TOM','NH','H']]
raceeth2

,YEAR,C_S,WA,BA,IA,AA,NA,TOM,NH,H
19,2020,"Autauga County,Alabama",44580,12136,281,690,66,1124,57009,1868
38,2021,"Autauga County,Alabama",44442,12425,271,711,70,1176,57129,1966
76,2020,"Baldwin County,Alabama",203791,20211,1844,2561,160,4573,222174,10966
95,2021,"Baldwin County,Alabama",209243,20499,1915,2686,164,4787,227708,11586
133,2020,"Barbour County,Alabama",12332,12137,180,116,56,359,23976,1204
...,...,...,...,...,...,...,...,...,...,...
179018,2021,"Uinta County,Wyoming",19712,132,297,109,27,358,18533,2102
179056,2020,"Washakie County,Wyoming",7255,40,129,64,5,165,6564,1094
179075,2021,"Washakie County,Wyoming",7279,42,134,70,6,174,6606,1099
179113,2020,"Weston County,Wyoming",6377,48,127,93,1,163,6525,284
179132,2021,"Weston County,Wyoming",6310,49,128,96,1,161,6433,312

In [60]:
raceeth=pd.concat(
    [raceeth1,raceeth2],
    axis=0,
    join="outer",
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [62]:
raceeth.to_csv("RaceEthnicity.csv")

# Sex/Age

In [68]:
pop=pd.read_csv('CC-EST2020-AGESEX-ALL.csv',encoding = "ISO-8859-1")
pop

C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,1,1,Alabama,Autauga County,1,54571,26569,28002,3579,...,705,731,295,436,551,159,392,37,35.9,37.9
1,50,1,1,Alabama,Autauga County,2,54582,26576,28006,3582,...,704,730,294,436,551,159,392,37,35.9,37.8
2,50,1,1,Alabama,Autauga County,3,54761,26667,28094,3575,...,707,743,299,444,556,164,392,37.1,36,37.9
3,50,1,1,Alabama,Autauga County,4,55229,26980,28249,3552,...,727,782,315,467,601,191,410,37.3,36.2,38.4
4,50,1,1,Alabama,Autauga County,5,54970,26830,28140,3405,...,751,834,340,494,632,206,426,37.7,36.4,38.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43997,50,56,45,Wyoming,Weston County,10,6962,3665,3297,373,...,123,182,91,91,195,66,129,43.6,42.9,44.5
43998,50,56,45,Wyoming,Weston County,11,6895,3624,3271,351,...,116,195,86,109,188,65,123,43.8,43.2,44.6
43999,50,56,45,Wyoming,Weston County,12,6880,3615,3265,333,...,112,193,81,112,195,73,122,44.3,43.8,44.9
44000,50,56,45,Wyoming,Weston County,13,6752,3551,3201,318,...,115,184,74,110,202,80,122,44.6,43.9,45.3
44001,50,56,45,Wyoming,Weston County,14,6743,3538,3205,321,...,115,182,72,110,202,81,121,44.5,43.7,45.3

In [72]:
pop["YEAR"]=pop['YEAR'].replace(10,2017)
pop["YEAR"]=pop['YEAR'].replace(11,2018)
pop["YEAR"]=pop['YEAR'].replace(12,2019)
pop

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,1,1,Alabama,Autauga County,1,54571,26569,28002,3579,...,705,731,295,436,551,159,392,37,35.9,37.9
1,50,1,1,Alabama,Autauga County,2,54582,26576,28006,3582,...,704,730,294,436,551,159,392,37,35.9,37.8
2,50,1,1,Alabama,Autauga County,3,54761,26667,28094,3575,...,707,743,299,444,556,164,392,37.1,36,37.9
3,50,1,1,Alabama,Autauga County,4,55229,26980,28249,3552,...,727,782,315,467,601,191,410,37.3,36.2,38.4
4,50,1,1,Alabama,Autauga County,5,54970,26830,28140,3405,...,751,834,340,494,632,206,426,37.7,36.4,38.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43997,50,56,45,Wyoming,Weston County,2017,6962,3665,3297,373,...,123,182,91,91,195,66,129,43.6,42.9,44.5
43998,50,56,45,Wyoming,Weston County,2018,6895,3624,3271,351,...,116,195,86,109,188,65,123,43.8,43.2,44.6
43999,50,56,45,Wyoming,Weston County,2019,6880,3615,3265,333,...,112,193,81,112,195,73,122,44.3,43.8,44.9
44000,50,56,45,Wyoming,Weston County,13,6752,3551,3201,318,...,115,184,74,110,202,80,122,44.6,43.9,45.3
44001,50,56,45,Wyoming,Weston County,14,6743,3538,3205,321,...,115,182,72,110,202,81,121,44.5,43.7,45.3

In [73]:
pop=pop[pop.YEAR >=2017]
pop=pop[pop.YEAR <=2019]
pop.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
9,50,1,1,Alabama,Autauga County,2017,55448,27041,28407,3286,...,912,1088,473,615,801,287,514,38.8,37.4,40
10,50,1,1,Alabama,Autauga County,2018,55533,27049,28484,3353,...,989,1100,484,616,873,336,537,39.1,37.7,40.4
11,50,1,1,Alabama,Autauga County,2019,55769,27078,28691,3251,...,1007,1133,487,646,909,345,564,39.2,37.8,40.6
23,50,1,3,Alabama,Baldwin County,2017,212737,103324,109413,11901,...,4153,4765,2241,2524,4177,1676,2501,43.1,41.9,44.1
24,50,1,3,Alabama,Baldwin County,2018,218071,105782,112289,12006,...,4498,5077,2377,2700,4262,1735,2527,43.3,42.1,44.5

In [80]:
pop['C_S']=pop['CTYNAME'].astype(str)+','+pop['STNAME'].astype(str)
pop['MFratio']=pop['POPEST_MALE'].astype(int)/pop['POPEST_FEM'].astype(int)
pop

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM,C_S,MFratio
9,50,1,1,Alabama,Autauga County,2017,55448,27041,28407,3286,...,473,615,801,287,514,38.8,37.4,40,"Autauga County,Alabama",0.951913
10,50,1,1,Alabama,Autauga County,2018,55533,27049,28484,3353,...,484,616,873,336,537,39.1,37.7,40.4,"Autauga County,Alabama",0.949621
11,50,1,1,Alabama,Autauga County,2019,55769,27078,28691,3251,...,487,646,909,345,564,39.2,37.8,40.6,"Autauga County,Alabama",0.943780
23,50,1,3,Alabama,Baldwin County,2017,212737,103324,109413,11901,...,2241,2524,4177,1676,2501,43.1,41.9,44.1,"Baldwin County,Alabama",0.944348
24,50,1,3,Alabama,Baldwin County,2018,218071,105782,112289,12006,...,2377,2700,4262,1735,2527,43.3,42.1,44.5,"Baldwin County,Alabama",0.942051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43984,50,56,43,Wyoming,Washakie County,2018,7886,3983,3903,403,...,83,127,232,96,136,43.8,43.2,44.3,"Washakie County,Wyoming",1.020497
43985,50,56,43,Wyoming,Washakie County,2019,7824,3971,3853,394,...,94,128,231,90,141,43.7,42.8,44.5,"Washakie County,Wyoming",1.030625
43997,50,56,45,Wyoming,Weston County,2017,6962,3665,3297,373,...,91,91,195,66,129,43.6,42.9,44.5,"Weston County,Wyoming",1.111617
43998,50,56,45,Wyoming,Weston County,2018,6895,3624,3271,351,...,86,109,188,65,123,43.8,43.2,44.6,"Weston County,Wyoming",1.107918
43999,50,56,45,Wyoming,Weston County,2019,6880,3615,3265,333,...,81,112,195,73,122,44.3,43.8,44.9,"Weston County,Wyoming",1.107198

In [85]:
pop1=pop[['YEAR','C_S','POPESTIMATE','MFratio','POPEST_MALE','POPEST_FEM','MEDIAN_AGE_TOT','UNDER5_TOT','AGE513_TOT','AGE1544_TOT','AGE4564_TOT','AGE65PLUS_TOT']]
pop1.head()

,YEAR,C_S,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,UNDER5_TOT,AGE513_TOT,AGE1544_TOT,AGE4564_TOT,AGE65PLUS_TOT
9,2017,"Autauga County,Alabama",55448,0.951913,27041,28407,38.8,3286,6632,21519,14854,8370
10,2018,"Autauga County,Alabama",55533,0.949621,27049,28484,39.1,3353,6490,21389,14935,8567
11,2019,"Autauga County,Alabama",55769,0.943780,27078,28691,39.2,3251,6499,21487,14933,8783
23,2017,"Baldwin County,Alabama",212737,0.944348,103324,109413,43.1,11901,23483,73443,58737,42540
24,2018,"Baldwin County,Alabama",218071,0.942051,105782,112289,43.3,12006,23961,74645,60150,44551

In [86]:
pop=pd.read_csv('cc-est2021-agesex-all.csv',encoding = "ISO-8859-1")
pop

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,1,1,Alabama,Autauga County,1,58805,28703,30102,3486,...,1049,1137,494,643,875,330,545,39.2,38.0,40.2
1,50,1,1,Alabama,Autauga County,2,58877,28734,30143,3480,...,1058,1145,495,650,876,334,542,39.2,38.0,40.3
2,50,1,1,Alabama,Autauga County,3,59095,28733,30362,3388,...,1065,1154,490,664,896,352,544,39.3,38.3,40.3
3,50,1,3,Alabama,Baldwin County,1,231767,112981,118786,12220,...,4825,5403,2471,2932,4151,1702,2449,43.7,42.6,44.8
4,50,1,3,Alabama,Baldwin County,2,233140,113612,119528,12176,...,4892,5475,2503,2972,4173,1721,2452,43.8,42.6,44.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9424,50,56,43,Wyoming,Washakie County,2,7658,3930,3728,385,...,160,219,102,117,207,74,133,43.9,42.9,45.1
9425,50,56,43,Wyoming,Washakie County,3,7705,3961,3744,373,...,168,223,107,116,208,76,132,44.6,43.4,45.8
9426,50,56,45,Wyoming,Weston County,1,6838,3622,3216,318,...,111,177,72,105,185,73,112,44.3,43.9,44.8
9427,50,56,45,Wyoming,Weston County,2,6809,3611,3198,317,...,113,170,68,102,185,71,114,44.3,43.8,44.9
9428,50,56,45,Wyoming,Weston County,3,6745,3588,3157,303,...,120,152,59,93,184,68,116,44.7,44.0,45.6

In [87]:
pop["YEAR"]=pop['YEAR'].replace(2,2020)
pop["YEAR"]=pop['YEAR'].replace(3,2021)

pop

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,1,1,Alabama,Autauga County,1,58805,28703,30102,3486,...,1049,1137,494,643,875,330,545,39.2,38.0,40.2
1,50,1,1,Alabama,Autauga County,2020,58877,28734,30143,3480,...,1058,1145,495,650,876,334,542,39.2,38.0,40.3
2,50,1,1,Alabama,Autauga County,2021,59095,28733,30362,3388,...,1065,1154,490,664,896,352,544,39.3,38.3,40.3
3,50,1,3,Alabama,Baldwin County,1,231767,112981,118786,12220,...,4825,5403,2471,2932,4151,1702,2449,43.7,42.6,44.8
4,50,1,3,Alabama,Baldwin County,2020,233140,113612,119528,12176,...,4892,5475,2503,2972,4173,1721,2452,43.8,42.6,44.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9424,50,56,43,Wyoming,Washakie County,2020,7658,3930,3728,385,...,160,219,102,117,207,74,133,43.9,42.9,45.1
9425,50,56,43,Wyoming,Washakie County,2021,7705,3961,3744,373,...,168,223,107,116,208,76,132,44.6,43.4,45.8
9426,50,56,45,Wyoming,Weston County,1,6838,3622,3216,318,...,111,177,72,105,185,73,112,44.3,43.9,44.8
9427,50,56,45,Wyoming,Weston County,2020,6809,3611,3198,317,...,113,170,68,102,185,71,114,44.3,43.8,44.9
9428,50,56,45,Wyoming,Weston County,2021,6745,3588,3157,303,...,120,152,59,93,184,68,116,44.7,44.0,45.6

In [88]:
pop=pop[pop.YEAR >=2017]
pop.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
1,50,1,1,Alabama,Autauga County,2020,58877,28734,30143,3480,...,1058,1145,495,650,876,334,542,39.2,38.0,40.3
2,50,1,1,Alabama,Autauga County,2021,59095,28733,30362,3388,...,1065,1154,490,664,896,352,544,39.3,38.3,40.3
4,50,1,3,Alabama,Baldwin County,2020,233140,113612,119528,12176,...,4892,5475,2503,2972,4173,1721,2452,43.8,42.6,44.9
5,50,1,3,Alabama,Baldwin County,2021,239294,116422,122872,12252,...,5091,5728,2619,3109,4232,1775,2457,44.0,42.8,45.0
7,50,1,5,Alabama,Barbour County,2020,25180,13373,11807,1342,...,532,563,236,327,474,154,320,40.8,39.0,43.9

In [89]:
pop['C_S']=pop['CTYNAME'].astype(str)+','+pop['STNAME'].astype(str)
pop['MFratio']=pop['POPEST_MALE'].astype(int)/pop['POPEST_FEM'].astype(int)
pop

C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Juhi Aggarwal\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM,C_S,MFratio
1,50,1,1,Alabama,Autauga County,2020,58877,28734,30143,3480,...,495,650,876,334,542,39.2,38.0,40.3,"Autauga County,Alabama",0.953256
2,50,1,1,Alabama,Autauga County,2021,59095,28733,30362,3388,...,490,664,896,352,544,39.3,38.3,40.3,"Autauga County,Alabama",0.946347
4,50,1,3,Alabama,Baldwin County,2020,233140,113612,119528,12176,...,2503,2972,4173,1721,2452,43.8,42.6,44.9,"Baldwin County,Alabama",0.950505
5,50,1,3,Alabama,Baldwin County,2021,239294,116422,122872,12252,...,2619,3109,4232,1775,2457,44.0,42.8,45.0,"Baldwin County,Alabama",0.947506
7,50,1,5,Alabama,Barbour County,2020,25180,13373,11807,1342,...,236,327,474,154,320,40.8,39.0,43.9,"Barbour County,Alabama",1.132633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9422,50,56,41,Wyoming,Uinta County,2021,20635,10529,10106,1264,...,121,145,230,85,145,37.5,37.4,37.7,"Uinta County,Wyoming",1.041856
9424,50,56,43,Wyoming,Washakie County,2020,7658,3930,3728,385,...,102,117,207,74,133,43.9,42.9,45.1,"Washakie County,Wyoming",1.054185
9425,50,56,43,Wyoming,Washakie County,2021,7705,3961,3744,373,...,107,116,208,76,132,44.6,43.4,45.8,"Washakie County,Wyoming",1.057959
9427,50,56,45,Wyoming,Weston County,2020,6809,3611,3198,317,...,68,102,185,71,114,44.3,43.8,44.9,"Weston County,Wyoming",1.129143
9428,50,56,45,Wyoming,Weston County,2021,6745,3588,3157,303,...,59,93,184,68,116,44.7,44.0,45.6,"Weston County,Wyoming",1.136522

In [90]:
pop2=pop[['YEAR','C_S','POPESTIMATE','MFratio','POPEST_MALE','POPEST_FEM','MEDIAN_AGE_TOT','UNDER5_TOT','AGE513_TOT','AGE1544_TOT','AGE4564_TOT','AGE65PLUS_TOT']]
pop2.head()

,YEAR,C_S,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,UNDER5_TOT,AGE513_TOT,AGE1544_TOT,AGE4564_TOT,AGE65PLUS_TOT
1,2020,"Autauga County,Alabama",58877,0.953256,28734,30143,39.2,3480,7042,22589,15672,9273
2,2021,"Autauga County,Alabama",59095,0.946347,28733,30362,39.3,3388,7062,22714,15600,9484
4,2020,"Baldwin County,Alabama",233140,0.950505,113612,119528,43.8,12176,25601,79039,64092,49125
5,2021,"Baldwin County,Alabama",239294,0.947506,116422,122872,44.0,12252,25902,81341,65215,51376
7,2020,"Barbour County,Alabama",25180,1.132633,13373,11807,40.8,1342,2675,9516,6367,4960

In [91]:
population=pd.concat(
    [pop1,pop2],
    axis=0,
    join="outer",
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [92]:
population.to_csv("Population.csv")