In [1]:
import pandas as pd
Zillow = pd.read_csv('Zillowdata.csv')
states = pd.read_csv('FIPS.csv')
COVID= pd.read_csv('cleancovid.csv')
income= pd.read_csv('incomeall.csv')
raceeth= pd.read_csv('RaceEthnicity.csv')
RU= pd.read_csv('ruralurban.csv')
Zillow

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,...,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
0,0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,...,724304.0,734737.0,748675.0,766484.0,786445.0,798469.0,807117.0,809652.0,814209.0,819573.0
1,1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,...,271379.0,274385.0,276166.0,279190.0,282732.0,286479.0,289068.0,291559.0,294460.0,297191.0
2,2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,...,225167.0,226995.0,229258.0,234176.0,239565.0,245372.0,249810.0,253619.0,256223.0,259306.0
3,3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,...,353650.0,360262.0,372458.0,383871.0,397135.0,407112.0,415319.0,422809.0,428902.0,434638.0
4,4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,...,692024.0,705885.0,726619.0,750501.0,774050.0,788507.0,798103.0,802781.0,810221.0,821411.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,2835,828,3104,Alpine County,county,CA,CA,NaN,6,3,...,NaN,460477.0,467177.0,474683.0,483848.0,492839.0,501395.0,506796.0,511683.0,518067.0
2836,2836,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,...,394132.0,403021.0,410654.0,415816.0,418517.0,423512.0,427733.0,431631.0,432433.0,438666.0
2837,2837,1933,3114,Mineral County,county,CO,CO,NaN,8,79,...,341615.0,347095.0,351817.0,358103.0,364747.0,370857.0,376500.0,380346.0,381542.0,384039.0
2838,2838,1648,3129,Daggett County,county,UT,UT,NaN,49,9,...,256113.0,263029.0,269755.0,276087.0,280029.0,284857.0,289254.0,293906.0,296812.0,304186.0
2839,2839,2518,3132,San Juan County,county,CO,CO,NaN,8,111,...,384827.0,390362.0,394614.0,401117.0,407270.0,415334.0,423507.0,429720.0,433309.0,438270.0

In [33]:
states['C_Sa']=states['name'].astype(str)+','+states['state_Ab'].astype(str)
states

,Unnamed: 0,fips,name,state_Ab,state,C_S,C_Sa
0,0,1001,Autauga County,AL,Alabama,"Autauga County,Alabama","Autauga County,AL"
1,1,1003,Baldwin County,AL,Alabama,"Baldwin County,Alabama","Baldwin County,AL"
2,2,1005,Barbour County,AL,Alabama,"Barbour County,Alabama","Barbour County,AL"
3,3,1007,Bibb County,AL,Alabama,"Bibb County,Alabama","Bibb County,AL"
4,4,1009,Blount County,AL,Alabama,"Blount County,Alabama","Blount County,AL"
...,...,...,...,...,...,...,...
3138,3138,56037,Sweetwater County,WY,Wyoming,"Sweetwater County,Wyoming","Sweetwater County,WY"
3139,3139,56039,Teton County,WY,Wyoming,"Teton County,Wyoming","Teton County,WY"
3140,3140,56041,Uinta County,WY,Wyoming,"Uinta County,Wyoming","Uinta County,WY"
3141,3141,56043,Washakie County,WY,Wyoming,"Washakie County,Wyoming","Washakie County,WY"
3142,3142,56045,Weston County,WY,Wyoming,"Weston County,Wyoming","Weston County,WY"

In [34]:
Zillow['C_Sa']=Zillow['RegionName'].astype(str)+','+Zillow['StateName'].astype(str)
Zillow

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,...,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,C_Sa
0,0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,...,734737.0,748675.0,766484.0,786445.0,798469.0,807117.0,809652.0,814209.0,819573.0,"Los Angeles County,CA"
1,1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,...,274385.0,276166.0,279190.0,282732.0,286479.0,289068.0,291559.0,294460.0,297191.0,"Cook County,IL"
2,2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,...,226995.0,229258.0,234176.0,239565.0,245372.0,249810.0,253619.0,256223.0,259306.0,"Harris County,TX"
3,3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,...,360262.0,372458.0,383871.0,397135.0,407112.0,415319.0,422809.0,428902.0,434638.0,"Maricopa County,AZ"
4,4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,...,705885.0,726619.0,750501.0,774050.0,788507.0,798103.0,802781.0,810221.0,821411.0,"San Diego County,CA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,2835,828,3104,Alpine County,county,CA,CA,NaN,6,3,...,460477.0,467177.0,474683.0,483848.0,492839.0,501395.0,506796.0,511683.0,518067.0,"Alpine County,CA"
2836,2836,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,...,403021.0,410654.0,415816.0,418517.0,423512.0,427733.0,431631.0,432433.0,438666.0,"Hinsdale County,CO"
2837,2837,1933,3114,Mineral County,county,CO,CO,NaN,8,79,...,347095.0,351817.0,358103.0,364747.0,370857.0,376500.0,380346.0,381542.0,384039.0,"Mineral County,CO"
2838,2838,1648,3129,Daggett County,county,UT,UT,NaN,49,9,...,263029.0,269755.0,276087.0,280029.0,284857.0,289254.0,293906.0,296812.0,304186.0,"Daggett County,UT"
2839,2839,2518,3132,San Juan County,county,CO,CO,NaN,8,111,...,390362.0,394614.0,401117.0,407270.0,415334.0,423507.0,429720.0,433309.0,438270.0,"San Juan County,CO"

In [35]:
Zillow.merge(states, on="C_Sa")

,Unnamed: 0_x,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,...,10/31/2021,11/30/2021,12/31/2021,C_Sa,Unnamed: 0_y,fips,name,state_Ab,state,C_S
0,0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,...,809652.0,814209.0,819573.0,"Los Angeles County,CA",204,6037,Los Angeles County,CA,California,"Los Angeles County,California"
1,1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,...,291559.0,294460.0,297191.0,"Cook County,IL",610,17031,Cook County,IL,Illinois,"Cook County,Illinois"
2,2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,...,253619.0,256223.0,259306.0,"Harris County,TX",2623,48201,Harris County,TX,Texas,"Harris County,Texas"
3,3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,...,422809.0,428902.0,434638.0,"Maricopa County,AZ",103,4013,Maricopa County,AZ,Arizona,"Maricopa County,Arizona"
4,4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,...,802781.0,810221.0,821411.0,"San Diego County,CA",222,6073,San Diego County,CA,California,"San Diego County,California"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749,2835,828,3104,Alpine County,county,CA,CA,NaN,6,3,...,506796.0,511683.0,518067.0,"Alpine County,CA",187,6003,Alpine County,CA,California,"Alpine County,California"
2750,2836,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,...,431631.0,432433.0,438666.0,"Hinsdale County,CO",271,8053,Hinsdale County,CO,Colorado,"Hinsdale County,Colorado"
2751,2837,1933,3114,Mineral County,county,CO,CO,NaN,8,79,...,380346.0,381542.0,384039.0,"Mineral County,CO",284,8079,Mineral County,CO,Colorado,"Mineral County,Colorado"
2752,2838,1648,3129,Daggett County,county,UT,UT,NaN,49,9,...,293906.0,296812.0,304186.0,"Daggett County,UT",2781,49009,Daggett County,UT,Utah,"Daggett County,Utah"
2753,2839,2518,3132,San Juan County,county,CO,CO,NaN,8,111,...,429720.0,433309.0,438270.0,"San Juan County,CO",300,8111,San Juan County,CO,Colorado,"San Juan County,Colorado"

In [2]:
COVID['fip-year-month']=COVID['fips'].astype(str)+'-'+COVID['Unnamed: 0'].astype(str)+'-'+COVID['date'].astype(str)
COVID['fip-year']=COVID['fips'].astype(str)+'-'+COVID['Unnamed: 0'].astype(str)
COVID

       Unnamed: 0   fips  date  cases fip-year-month    fip-year
0            2020   1001     3     43    1001-2020-3   1001-2020
1            2020   1001     4    731    1001-2020-4   1001-2020
2            2020   1001     5   3660    1001-2020-5   1001-2020
3            2020   1001     6  11110    1001-2020-6   1001-2020
4            2020   1001     7  24241    1001-2020-7   1001-2020
...           ...    ...   ...    ...            ...         ...
67348        2021  56045     8  22442   56045-2021-8  56045-2021
67349        2021  56045     9  25372   56045-2021-9  56045-2021
67350        2021  56045    10  30816  56045-2021-10  56045-2021
67351        2021  56045    11  35174  56045-2021-11  56045-2021
67352        2021  56045    12  38058  56045-2021-12  56045-2021

[67353 rows x 6 columns]

In [7]:
income['fip-year']=income['fips'].astype(str)+'-'+income['Unnamed: 0'].astype(str)
income

       Unnamed: 0  Unnamed: 1   fips  PCIncome  year    fip-year
0            2017           1   1001   27824.0  2017   1001-2017
1            2017           2   1003   29364.0  2017   1003-2017
2            2017           3   1005   17561.0  2017   1005-2017
3            2017           4   1007   20911.0  2017   1007-2017
4            2017           5   1009   22021.0  2017   1009-2017
...           ...         ...    ...       ...   ...         ...
16102        2021        3218  72147    8834.0  2021  72147-2021
16103        2021        3219  72149   12179.0  2021  72149-2021
16104        2021        3220  72151   10507.0  2021  72151-2021
16105        2021        3221  72153   10231.0  2021  72153-2021
16106        2021        3222      0   37638.0  2021      0-2021

[16107 rows x 6 columns]

In [59]:
raceeth=raceeth.merge(states, on="C_S")
raceeth

,Unnamed: 0_x,YEAR,C_S,WA,BA,IA,AA,NA,TOM,NH,H,Unnamed: 0_y,fips,name,state_Ab,state
0,9,2017,"Autauga County,Alabama",42606,10816,254,693,59,1020,53908,1540,0,1001,Autauga County,AL,Alabama
1,10,2018,"Autauga County,Alabama",42641,10883,263,671,61,1014,53929,1604,0,1001,Autauga County,AL,Alabama
2,11,2019,"Autauga County,Alabama",42490,11252,266,668,58,1035,54116,1653,0,1001,Autauga County,AL,Alabama
3,19,2020,"Autauga County,Alabama",44580,12136,281,690,66,1124,57009,1868,0,1001,Autauga County,AL,Alabama
4,38,2021,"Autauga County,Alabama",44442,12425,271,711,70,1176,57129,1966,0,1001,Autauga County,AL,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15675,43997,2017,"Weston County,Wyoming",6560,44,117,94,2,145,6673,289,3142,56045,Weston County,WY,Wyoming
15676,43998,2018,"Weston County,Wyoming",6456,47,127,100,2,163,6623,272,3142,56045,Weston County,WY,Wyoming
15677,43999,2019,"Weston County,Wyoming",6429,48,132,98,2,171,6598,282,3142,56045,Weston County,WY,Wyoming
15678,179113,2020,"Weston County,Wyoming",6377,48,127,93,1,163,6525,284,3142,56045,Weston County,WY,Wyoming
15679,179132,2021,"Weston County,Wyoming",6310,49,128,96,1,161,6433,312,3142,56045,Weston County,WY,Wyoming

In [62]:
raceeth['fip-year']=raceeth['fips'].astype(str)+'-'+raceeth['YEAR'].astype(str)
raceeth

,Unnamed: 0_x,YEAR,C_S,WA,BA,IA,AA,NA,TOM,NH,H,Unnamed: 0_y,fips,name,state_Ab,state,fip-year
0,9,2017,"Autauga County,Alabama",42606,10816,254,693,59,1020,53908,1540,0,1001,Autauga County,AL,Alabama,1001-2017
1,10,2018,"Autauga County,Alabama",42641,10883,263,671,61,1014,53929,1604,0,1001,Autauga County,AL,Alabama,1001-2018
2,11,2019,"Autauga County,Alabama",42490,11252,266,668,58,1035,54116,1653,0,1001,Autauga County,AL,Alabama,1001-2019
3,19,2020,"Autauga County,Alabama",44580,12136,281,690,66,1124,57009,1868,0,1001,Autauga County,AL,Alabama,1001-2020
4,38,2021,"Autauga County,Alabama",44442,12425,271,711,70,1176,57129,1966,0,1001,Autauga County,AL,Alabama,1001-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15675,43997,2017,"Weston County,Wyoming",6560,44,117,94,2,145,6673,289,3142,56045,Weston County,WY,Wyoming,56045-2017
15676,43998,2018,"Weston County,Wyoming",6456,47,127,100,2,163,6623,272,3142,56045,Weston County,WY,Wyoming,56045-2018
15677,43999,2019,"Weston County,Wyoming",6429,48,132,98,2,171,6598,282,3142,56045,Weston County,WY,Wyoming,56045-2019
15678,179113,2020,"Weston County,Wyoming",6377,48,127,93,1,163,6525,284,3142,56045,Weston County,WY,Wyoming,56045-2020
15679,179132,2021,"Weston County,Wyoming",6310,49,128,96,1,161,6433,312,3142,56045,Weston County,WY,Wyoming,56045-2021

In [104]:
RU['fips']=RU["FIPS"]
COVID['fips']=COVID['fips'].astype(str)
states['fips']=states['fips'].astype(str)
RU['fips']=RU['fips'].astype(str)
RU.merge(states, on='fips')
RU

,Unnamed: 0,FIPS,State,County_Name,Population_2010,RUCC_2013,Description,fips
0,0,01001,AL,Autauga County,"54,571",2.0,"Metro - Counties in metro areas of 250,000 to ...",01001
1,1,01003,AL,Baldwin County,"182,265",3.0,Metro - Counties in metro areas of fewer than ...,01003
2,2,01005,AL,Barbour County,"27,457",6.0,"Nonmetro - Urban population of 2,500 to 19,999...",01005
3,3,01007,AL,Bibb County,"22,915",1.0,Metro - Counties in metro areas of 1 million p...,01007
4,4,01009,AL,Blount County,"57,322",1.0,Metro - Counties in metro areas of 1 million p...,01009
...,...,...,...,...,...,...,...,...
3235,3235,00nan,NaN,NaN,NaN,NaN,NaN,00nan
3236,3236,00nan,NaN,NaN,NaN,NaN,NaN,00nan
3237,3237,00nan,NaN,NaN,NaN,NaN,NaN,00nan
3238,3238,00nan,NaN,NaN,NaN,NaN,NaN,00nan
3239,3239,00nan,NaN,NaN,NaN,NaN,NaN,00nan

In [89]:
RU.dropna()

,Unnamed: 0,FIPS,State,County_Name,Population_2010,RUCC_2013,Description,fips
0,0,01001,AL,Autauga County,"54,571",2.0,"Metro - Counties in metro areas of 250,000 to ...",01001
1,1,01003,AL,Baldwin County,"182,265",3.0,Metro - Counties in metro areas of fewer than ...,01003
2,2,01005,AL,Barbour County,"27,457",6.0,"Nonmetro - Urban population of 2,500 to 19,999...",01005
3,3,01007,AL,Bibb County,"22,915",1.0,Metro - Counties in metro areas of 1 million p...,01007
4,4,01009,AL,Blount County,"57,322",1.0,Metro - Counties in metro areas of 1 million p...,01009
...,...,...,...,...,...,...,...,...
3229,3229,72151,PR,Yabucoa Municipio,"37,941",1.0,Metro - Counties in metro areas of 1 million p...,72151
3230,3230,72153,PR,Yauco Municipio,"42,043",2.0,"Metro - Counties in metro areas of 250,000 to ...",72153
3231,3231,78010,VI,St. Croix Island,"50,601",5.0,"Nonmetro - Urban population of 20,000 or more,...",78010
3232,3232,78020,VI,St. John Island,"4,170",7.0,"Nonmetro - Urban population of 2,500 to 19,999...",78020
3233,3233,78030,VI,St. Thomas Island,"51,634",5.0,"Nonmetro - Urban population of 20,000 or more,...",78030

In [97]:
COVID.dtypes
COVID['fips']=COVID['fips'].astype(str)
COVID.dtypes

Unnamed: 0     int64
fips          object
date           int64
cases          int64
dtype: object

In [5]:
COVIDT=COVID.set_index(['fip-year-month']).T
COVIDT

fip-year-month,1001-2020-3,1001-2020-4,1001-2020-5,1001-2020-6,1001-2020-7,1001-2020-8,1001-2020-9,1001-2020-10,1001-2020-11,1001-2020-12,...,56045-2021-3,56045-2021-4,56045-2021-5,56045-2021-6,56045-2021-7,56045-2021-8,56045-2021-9,56045-2021-10,56045-2021-11,56045-2021-12
Unnamed: 0,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
fips,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,...,56045,56045,56045,56045,56045,56045,56045,56045,56045,56045
date,3,4,5,6,7,8,9,10,11,12,...,3,4,5,6,7,8,9,10,11,12
cases,43,731,3660,11110,24241,38807,48577,60844,73997,108652,...,19490,19294,20200,19675,20696,22442,25372,30816,35174,38058
fip-year,1001-2020,1001-2020,1001-2020,1001-2020,1001-2020,1001-2020,1001-2020,1001-2020,1001-2020,1001-2020,...,56045-2021,56045-2021,56045-2021,56045-2021,56045-2021,56045-2021,56045-2021,56045-2021,56045-2021,56045-2021

In [17]:
income1=income.merge(COVID, on='fip-year')
income2=income.rename(column
income2=income1[['fip-year-month_y','PCIncome']]
income3=income2.set_index(['fip-year-month_y']).T
income3

fip-year-month_y,1001-2020-3,1001-2020-4,1001-2020-5,1001-2020-6,1001-2020-7,1001-2020-8,1001-2020-9,1001-2020-10,1001-2020-11,1001-2020-12,...,56045-2021-3,56045-2021-4,56045-2021-5,56045-2021-6,56045-2021-7,56045-2021-8,56045-2021-9,56045-2021-10,56045-2021-11,56045-2021-12
PCIncome,29804.0,29804.0,29804.0,29804.0,29804.0,29804.0,29804.0,29804.0,29804.0,29804.0,...,31190.0,31190.0,31190.0,31190.0,31190.0,31190.0,31190.0,31190.0,31190.0,31190.0

In [21]:
COVIDINCOME=pd.concat([COVIDT,income3], ignore_index=True)
COVIDINCOME

InvalidIndexError: Reindexing only valid with uniquely valued Index objects