In [1]:
# import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [3]:
#  Import and read the csv.
import pymongo
import json
import pandas as pd
#myclient = pymongo.MongoClient("mongodb://localhost:27017/")
from config import password
from config import username
myclient=pymongo.MongoClient(f"mongodb://{username}:{password}@ac-bwpvcfr-shard-00-00.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-01.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-02.sc3siep.mongodb.net:27017/?ssl=true&replicaSet=atlas-lvkd7c-shard-0&authSource=admin&retryWrites=true&w=majority")
mydb=myclient["HousingCovid"]
test = mydb.merged_data
data_df = pd.DataFrame(list(test.find()))
data_df.head()

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,rucc_2013,wa,ba,ia,aa,na,tom,nh,h,Year
0,63a3b5df32af6aabd867f68e,635279,0,6037-2019-1,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
1,63a3b5df32af6aabd867f68f,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
2,63a3b5df32af6aabd867f690,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
3,63a3b5df32af6aabd867f691,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
4,63a3b5df32af6aabd867f692,631688,0,6037-2019-5,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019

In [4]:
data_df["rucc_2013"]
object_columns = list(data_df.select_dtypes(['object']).columns)
object_columns

['_id', 'fip_year_month']

In [9]:
# convert the string values into numerical ones using the get_dummies() method
data_df = pd.get_dummies(data_df, columns=object_columns)
data_df.head()

,Year,FIPS,month,cases,Pcincome,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,...,NA,TOM,NH,H,Cost,RUCC,"C_S_Adams County,Ohio","C_S_Atlantic County,New Jersey","C_S_Autauga County,Alabama","C_S_Beaver County,Pennsylvania"
24,2019,1001,1,0,29819,55769,0.94378,27078,28691,39.2,...,58,1035,54116,1653,200156,2,0,0,1,0
25,2019,1001,2,0,29819,55769,0.94378,27078,28691,39.2,...,58,1035,54116,1653,200999,2,0,0,1,0
26,2019,1001,3,0,29819,55769,0.94378,27078,28691,39.2,...,58,1035,54116,1653,201698,2,0,0,1,0
27,2019,1001,4,0,29819,55769,0.94378,27078,28691,39.2,...,58,1035,54116,1653,202308,2,0,0,1,0
28,2019,1001,5,0,29819,55769,0.94378,27078,28691,39.2,...,58,1035,54116,1653,202854,2,0,0,1,0

In [10]:
# Create our features
X = data_df.drop(columns="Cost")

# Create our target
y = data_df["Cost"]

In [11]:
X.describe()

,Year,FIPS,month,cases,Pcincome,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,...,AA,NA,TOM,NH,H,RUCC,"C_S_Adams County,Ohio","C_S_Atlantic County,New Jersey","C_S_Autauga County,Alabama","C_S_Beaver County,Pennsylvania"
count,144.000000,144.000000,144.000000,1.440000e+02,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,...,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000
mean,2020.000000,29002.500000,6.500000,1.660529e+05,30249.250000,253645.083333,0.970045,126167.583333,127477.500000,40.233333,...,5888.000000,103.833333,3303.416667,115970.666667,14652.583333,2.750000,0.250000,0.250000,0.250000,0.250000
std,0.819346,16474.947493,3.464102,2.974965e+05,4377.597274,171664.206263,0.034618,87654.046156,84059.351059,3.898431,...,9213.160502,101.168419,2880.402608,77760.021617,22424.384756,1.926989,0.434524,0.434524,0.434524,0.434524
min,2019.000000,1001.000000,1.000000,0.000000e+00,22366.000000,55769.000000,0.937129,27078.000000,28691.000000,34.200000,...,96.000000,6.000000,399.000000,27129.000000,285.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2019.000000,25751.000000,3.750000,0.000000e+00,28487.750000,137740.750000,0.946161,66948.000000,70793.000000,38.100000,...,526.500000,45.000000,886.500000,47425.750000,1318.500000,1.750000,0.000000,0.000000,0.000000,0.000000
50%,2020.000000,36501.000000,6.500000,1.365850e+04,31136.500000,215692.500000,0.953424,104868.000000,110824.500000,40.750000,...,829.000000,68.000000,2481.500000,109073.500000,2452.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,2021.000000,39752.500000,9.250000,1.989095e+05,33506.750000,335368.250000,0.977975,165951.750000,169416.500000,42.925000,...,6082.000000,118.750000,4981.000000,176516.250000,15337.750000,3.000000,0.250000,0.250000,0.250000,0.250000
max,2021.000000,42007.000000,12.000000,1.363149e+06,36143.000000,522140.000000,1.031982,265179.000000,256961.000000,45.200000,...,22076.000000,299.000000,7912.000000,220232.000000,54734.000000,6.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
# Check the balance of our target values
y.value_counts()

216072    2
216613    2
150610    2
200156    1
111952    1
         ..
203085    1
202351    1
202020    1
201443    1
175811    1
Name: Cost, Length: 141, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)
Counter(y_train)

Counter({160152: 1,
         213613: 1,
         210039: 1,
         103723: 1,
         245806: 1,
         275912: 1,
         202351: 1,
         202854: 1,
         144256: 1,
         202835: 1,
         211514: 1,
         209394: 1,
         213489: 1,
         201058: 1,
         207814: 1,
         227569: 1,
         216072: 2,
         175811: 1,
         149586: 1,
         206538: 1,
         105037: 1,
         201443: 1,
         216613: 2,
         211439: 1,
         104362: 1,
         204620: 1,
         111392: 1,
         197032: 1,
         200156: 1,
         274620: 1,
         222869: 1,
         271270: 1,
         203439: 1,
         236889: 1,
         150610: 1,
         153318: 1,
         235993: 1,
         169895: 1,
         110508: 1,
         226542: 1,
         213733: 1,
         119515: 1,
         107147: 1,
         203906: 1,
         265655: 1,
         145292: 1,
         146911: 1,
         144926: 1,
         202308: 1,
         146569: 1,
         210767: 1,
         149519: 1,
         205152: 1,
         209646: 1,
         215050: 1,
         251728: 1,
         115123: 1,
         232392: 1,
         158602: 1,
         203381: 1,
         234087: 1,
         227956: 1,
         108226: 1,
         108089: 1,
         129996: 1,
         200999: 1,
         203002: 1,
         147377: 1,
         104655: 1,
         208084: 1,
         208412: 1,
         113673: 1,
         206885: 1,
         131214: 1,
         146743: 1,
         132082: 1,
         145791: 1,
         128459: 1,
         150914: 1,
         204387: 1,
         110889: 1,
         257956: 1,
         143288: 1,
         212035: 1,
         145538: 1,
         198906: 1,
         108230: 1,
         108384: 1,
         216580: 1,
         156855: 1,
         165821: 1,
         213784: 1,
         146448: 1,
         204749: 1,
         148045: 1,
         227802: 1,
         111952: 1,
         203181: 1,
         208884: 1,
         161921: 1,
         107882: 1,
         126950: 1,
         124383: 1,
         203085: 1,
         154719: 1,
         148745: 1})

In [14]:
# create a logistical regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=22)
classifier

LogisticRegression(random_state=22)

In [15]:
# Train the data
classifier.fit(X_train, y_train)

C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=22)

In [16]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction  Actual
215      149586  150610
104      213613  217601
171      124383  123081
54       226542  219848
237      169895  171950
219      144926  143538
179      132082  134398
150      108226  106457
119      275912  278810
209      149586  146402
170      124383  121689
149      103723  105664
158      107882  107834
204      144926  143665
212      149586  147699
34       209394  205927
173      124383  125674
84       197032  194970
161      107882  109595
145      103723  104117
111      236889  241056
157      107882  107688
233      161921  163731
26       209394  201698
235      165821  167795
87       197032  200071
160      107882  108820
168      119515  117599
90       203002  202020
98       203381  205471
55       226542  225005
226      153318  152008
50       213784  214924
59       275912  229609
238      226542  173980
152      108226  107772

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.0

In [ ]:
#Using drop() to delete rows based on column value
data_df.drop(data_df[data_df['cases'] < 1].index, inplace = True)

# Default value of display.max_rows is 10 so at max
# 10 rows will be printed. Set it None to display
# all rows in the dataframe
pd.set_option('display.max_rows', None)

data_df

In [ ]:
c_s_cost_df = data_df[["C_S","Cost"]]
c_s_cost_df

In [ ]:
for i in c_s_cost_df["C_S"].str.len():
      
    if c_s_cost_df['C_S'].shift() == c_s_cost_df['C_S']:
#    if c_s_cost_df["C_S"][i+1] == c_s_cost_df["C_S"][i]:

#        print(c_s_cost_df["C_S"][i])

        print("I work.")

In [ ]:
sorted_df = data_df.sort_values(['Cost']).groupby(["Year","C_S","month"])["Cost"].sum()
print(sorted_df.to_string())

In [ ]:
# Declare a list that is to be converted into a column
increase_list = []

for year in sorted_df['Year']:

    for countystate in sorted_df["C_S"].str.len():

        for cost in sorted_df["Cost"]:
                
                if cost+1 < cost:
                    increase_list.append("1")
                else:
                    increase_list.append("0")
        data_df["Increase"] = increase_list 

print(data_df)